
.app {
background: var(--background-image);background-position: center;;background-size: cover;}
.ui-standard-sidebar-view .sidebar-region {background: rgba(0,0,0,0) !important;}
.layers-3iHuyZ, .layer-3QrUeG, .container-PNkimc, .typing-2GQL18 {background: rgba(0,0,0,0) !important;}
/* optionally adjust background brightness (0: original image, 1: black) */
.layers-3iHuyZ{background: rgba(0,0,0,var(--background-brightness)) !important;}
/*Layer Transparency*/
.content .flex-spacer{background-color: rgba(0,0,0,0) !important;}
.content-region{background-color: rgba(0,0,0,0) !important;}
.headerBar-UHpsPw{background-color: rgba(0,0,0,0) !important;}
.noChannel-2EQ0a9{background-color: rgba(0,0,0,0) !important;}
.channels-Ie2l6A{background-color: rgba(0,0,0,0) !important;}
.title-qAcLxz{background-color: rgba(0,0,0,0) !important;}
.container-2Thooq{background-color: rgba(0,0,0,0) !important;}
.container-PNkimc{background-color: rgba(0,0,0,0) !important;}
.container-GLDMJI{background-color: rgba(0,0,0,0) !important;}
.guilds-wrapper{background-color: rgba(0,0,0,0) !important;}
.chat form.typing-2GQL18{background-color: rgba(0,0,0,0) !important;}
.chat form{background-color: rgba(0,0,0,0) !important;}
.chat>.content{background-color: rgba(0,0,0,0) !important;}
.chat{background-color:rgba(0,0,0,0)!important;}
.chat .messages{background-color: rgba(0,0,0,0) !important;}
.friends-table, .messages-wrapper{background-color: rgba(0,0,0,0) !important;}
.members-1998pB{background-color: rgba(0,0,0,0) !important;}
#friends{background-color: rgba(0,0,0,0) !important;}
.title-3qD0b-{background-color: rgba(0,0,0,0) !important;}
.ui-standard-sidebar-view{background-color: rgba(0,0,0,0) !important;}
.ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller,
.ui-standard-sidebar-view .content-region .content-region-scroller-wrap{background: rgba(0,0,0,0.4);}
.container-2lgZY8{background-color: rgba(0,0,0,0) !important;}
.message-group .avatar-large[style*="314206160477749250"] ~ .comment .message h2 span.username-wrapper::after {
    background-color: #faa61a !important;
    padding: 0px 4px;
    border: 2px outset rgba(255, 255, 255, 0.01);
    content: "patreon";
    text-transform: uppercase;
    display: inline-block;
    margin-left: 4px;
    font-size: small;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0);
}
.spinner-pulsing-ellipsis .spinner-item {
    -webkit-animation: spinner-ellipsis 1.4s infinite ease-in-out;
    animation: spinner-ellipsis 1.4s infinite ease-in-out;
    display: inline-block;
    height: 6px;
    margin-right: 2px;
    opacity: .3;
    width: 6px;
    background-color: #18f5f5;
}
.theme-dark .modal-3HD5ck {
    -webkit-box-shadow: 0 0 0 1px rgba(32, 34, 37, 0), 0 2px 10px 0 rgba(0,0,0,.2);
    background-color: rgba(54, 57, 63, 0);
    box-shadow: 0 0 0 1px rgba(32, 34, 37, 0), 0 2px 10px 0 rgba(0,0,0,.2);
}
.theme-dark .noChannel-Z1DQK7 {
    background: rgba(54, 57, 63, 0);
}
.theme-dark .footer-2yfCgX {
    -webkit-box-shadow: inset 0 1px 0 rgba(47, 49, 54, 0);
    background-color: rgba(47, 49, 54, 0);
    box-shadow: inset 0 1px 0 rgba(47,49,54,.6);
}
.create-guild-container.deprecated .action:hover.create .btn {
    background-color: #f04747;
}
.avatar-xxlarge {
    background-size: 100px 100px;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 310px;
    top: 29px;
}
.theme-dark .message-group .comment .markup code.inline, .theme-dark .message-group .comment .markup pre code {
    background: rgba(47, 49, 54, 0);
}
.lookOutlined-3sRXeN.colorRed-1TFJan:hover {
    border-color: rgba(240, 71, 71, 0);
}
.lookOutlined-3sRXeN.colorRed-1TFJan {
    border-color: rgba(240, 71, 71, 0);
    color: #00b0f4;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: #43b581;
    color: #fff;
}
.message-group .avatar-large[style*="306060056271519745"] ~ .comment .message h2 span.username-wrapper::after {
    background-color: #faa61a !important;
    padding: 0px 4px;
    border: 2px outset rgba(255, 255, 255, 0.01);
    content: "Theme developer";
    text-transform: uppercase;
    display: inline-block;
    margin-left: 4px;
    font-size: small;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0);
}
.contentSelectedText-3wUhMi {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(203, 0, 245, 0.66), rgba(0, 0, 0, 0));
}
#dv-mount {
    background-color: rgba(47, 49, 54, 0);
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    height: 95px;
    justify-content: center;
    position: absolute;
    width: 240px;
    z-index: 256;
}
.mentioned .mention:hover {
    color: #b271f7;
    text-decoration: none;
}
.theme-dark .typing-2GQL18 span {
    color: hsla(288, 97%, 47%, 0.8);
}
.theme-dark .cardPrimary-1Hv-to {
    background: rgba(32, 34, 37, 0);
    border-color: rgba(32, 34, 37, 0);
}
.theme-dark .itemSubMenu-1vN_Yn {
    background: rgba(40, 43, 48, 0) url(/assets/1988164a7c55346d32117b151f4e319d.svg) no-repeat 155px 50%;
}
.form-deprecated header, .form.deprecated header {
    color: rgba(114, 137, 218, 0);
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 28px;
    padding-top: 28px;
    text-transform: uppercase;
}
.guilds-wrapper .guilds .guild.selected:before {
    -webkit-transition: height .25s ease-in-out,margin-top .25s ease-in-out;
    background: #43b581;
    border-radius: 20px;
    height: 40px;
    margin-top: -20px;
    transition: height .25s ease-in-out,margin-top .25s ease-in-out;
}
.create-guild-container.deprecated .action {
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.08);
    -webkit-box-sizing: border-box;
    background: hsla(0, 0%, 100%, 0);
    border: 0px solid rgba(0,0,0,.1);
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    width: 228px;
}
.theme-dark .member-3W1lQa:hover .content-OzHfo4 {
    background-color: #b922ad;
    color: rgb(255, 255, 255);
}
.contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO:active, .contentSelectedVoice-1WDIBM:active {
    background: linear-gradient(to right, rgba(192, 0, 255, 0.64), rgba(162, 0, 245, 0), rgb(145, 0, 255));
}
#bd-settings-sidebar .ui-tab-bar-header {
    color: #43b581;
    padding: 6px 10px;
    font-size: 20px;
    line-height: 16px;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-shrink: 0;
    font-weight: 500;
    font-family: fantasy;
}
.theme-dark .message-group .comment .markup pre {
    background: rgba(47, 49, 54, 0);
    border: 2px solid black;
}
.guilds-wrapper .guilds .guild.unread:before {
    background: #f04747;
    border-radius: 5px;
    height: 10px;
    margin-top: -6px;
}
.create-guild-container.deprecated .action.join .action-header {
    color: rgba(60, 163, 116, 0);
}
.mention {
    -webkit-transition: background-color .05s,color .05s;
    background: rgba(240, 71, 71, 0);
    color: #7f409e;
    font-weight: 500;
    transition: background-color .05s,color .05s;
}
.side-8zPYf6 .itemSelected-1qLhcL {
    background-color: #f04747;
    color: #fff;
}
#bd-settings-sidebar .ui-tab-bar-item.selected {
    color: #fff;
    background-color: #f04747;
}
.guilds-wrapper .guilds-add {
    background: rgba(170, 67, 181, 0);
    border: 1px dashed rgba(83, 85, 89, 0);
    border-radius: 50%;
    color: #c047f0;
    font-size: 40px;
    font-weight: 300;
    height: 100%;
    line-height: 100%;
    padding: 0;
    text-align: center;
    width: 100%;
}
.private-channels .channel.selected a {
    background-color: #43b581;
    color: #fff;
}
.theme-dark .item-1Yvehc:hover {
    background: #25282d;
    color: #f04747;
}
.private-channels .channel:hover a {
    background-color: #3a71c1;
    color: #fff;
}
.mention:hover {
    background-color: #7289da;
    color: #9300ff;
    cursor: pointer;
}
.create-guild-container.deprecated .action.create .action-icon {
    background: url(none) 50% no-repeat;
    background-size: 112px 78px;
    height: 78px;
}
.create-guild-container.deprecated .action.join .action-icon {
    background: url(none) 50% no-repeat;
    background-size: 178.5px 78px;
    height: 78px;
}
.create-guild-container.deprecated .action .action-body {
    color: rgba(153, 170, 181, 0);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 16px;
    padding: 0 15px;
}
.create-guild-container.deprecated .action.create .action-header {
    color: rgba(114, 137, 218, 0);
}
.guilds-wrapper .guilds .friends-icon {
    background-image: url(https://vignette.wikia.nocookie.net/chroniclesofillusion/images/8/83/Avengers_Symbol.png/revision/latest?cb=20161110053512);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
}
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, .theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {
    background-color: #a747f0;
    color: #fff;
}
.theme-dark .inner-zqa7da {
    background-color: hsla(218, 5%, 47%, 0);
    border: 2px solid purple;
}
.uploadModal-2ifh8j .footer-3mqk7D {
    -ms-flex-direction: row;
    -ms-flex-pack: end;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: end;
    background-color: rgba(91, 109, 174, 0);
    border-radius: 0 0 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}
body.bd-blue .app::before {
  content: "Please disable \"BetterDiscord Blue\" mode in BetterDiscord settings.";
  height: 36px;
  background-color: #D02E00;
  color: #FFF;
  font-size: 15px;
  line-height: 36px;
  text-align: center;
  vertical-align: middle; }
.theme-dark .attachButtonPlus-rUdX-B {
    fill: #fb00f3;
}
div[class^="typeWindows-"] div[class^="wordmark"] svg {
  display: none; }
div[class^="typeWindows-"] div[class^="wordmark"]::after {
  content: "Discord/thanos/edition";
  color: #FFF;
  font-size: 15px;
  position: absolute;
  top: 1px;
  left: 20px;
  display: block; }
.uploadModal-2ifh8j {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-filter: blur(0);
    -webkit-perspective: 1000;
    background-color: rgba(114, 137, 218, 0);
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    filter: blur(0);
    flex-direction: column;
    min-height: 258px;
    perspective: 1000;
    width: 520px;
}
.theme-brand .inner-zqa7da {
    background-color: rgba(142, 161, 225, 0);
}
.uploadModal-2ifh8j .inner-3nWsbo {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    border: 2px dashed #8305f5;
    border-radius: 10px 10px 0 0;
    color: rgb(251, 5, 5);
    flex: 1;
    margin: 10px;
}
.theme-dark .item-1Yvehc {
    color: #7289da;
}
div.platform-osx .side-8zPYf6 .item-PXvHYJ:nth-of-type(7), div.platform-win .side-8zPYf6 .item-PXvHYJ:nth-of-type(7) {
    background: red;
    position: relative;
    -webkit-animation: mymove 5s infinite; 
    animation: mymove 5s infinite;
    color: #fff!important;
    font-weight: 600!important;
}
@-webkit-keyframes mymove {
    0%   {top: 0px; background: red; width: 1000px;}
    100% {top: 0px; background: purple; width: 1000px;}
}
.theme-dark .wrapper-35wsBm {
    background: rgba(47, 49, 54, 0);
    border-color: rgba(47, 49, 54, 0);
}
.create-guild-container.deprecated .create-or-join .form-inner {
    -webkit-box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(https://www.hdwallpapers.in/thumbs/2018/thanos_in_avengers_infinity_war-t2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 700px;
    height: 420px;
    padding: 30px 24px;
    width: 520px;
}
.bd-pfbtn {
    background: #00b0f4;
    color: #FFF;
    border-radius: 5px;
    margin-left: 10px;
}
.role-2irmRk {
    -webkit-box-sizing: border-box;
    border: 0px;
    border-radius: 11px;
    height: 22px;
    margin: 0 4px 4px 0;
    padding: 4px;
}
